@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

h1 {
    font-size: 3rem;
    color: #222;
    text-align: center;
    padding: 50px 0;
}

hr {
    border: none;
    border-top: 1px solid #e1e1e1;
    margin-bottom: 35px;
}

h2 {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group.full {
    width: 40px;

}

input {
    width: 420px;
    padding: 10px 20px;
    border: 1px solid #BAD7E3;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    color: #1c1c1c;
    padding-left: 1%;
}

button {
    cursor: pointer;
    width: 266px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 8px;
    background: #4BC1D2;
    margin: 20px 0 0 0;
}

body {
    background: #f5f5f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 0.9rem;
    margin-bottom: 6px;
    color: #333;
    font-weight: 600;
}

input:focus {
    border-color: #4BC1D2;
    box-shadow: 0 0 5px rgba(75, 193, 210, 0.5);
}

.btn {
    width: 230px;
    padding: 12px 15px;
    background: #4cc0cf;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #37aab8;
}

.container {
    width: 100%;
    max-width: 900px;
    padding: 20px;
}

.card {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.8);
}